.feedbackButton {
    font-family: 'Poppins', sans-serif; /* Poppins font */
    background-color: black; /* Black background */
    color: green; /* Green text */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.3s;
}

.feedbackButton:hover {
    color: lightgreen; /* Optional lighter green text on hover */
}

