.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: var(--color-primary-dark);
  }
  