body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles.css */
.MuiTabs-root {
  background-color: #282c34; /* Change according to your design */
}

.MuiTab-root {
  color: #fff; /* Change according to your design */
}

.Mui-selected {
  background-color: #3a3f47; /* Change according to your design */
}

.card {
  margin: 16px;
  background: #000; /* Change according to your design */
}
